﻿

body, html {
    height: 95%;
    margin: 0;
}



img {
    margin: auto;
    float: none;
}



.itemStyle{
    font-size: 12px;
    font-family: HeleveticaNeue;
    line-height: 16px;
    text-align:left;

}

.signOut{
    font-family: HeleveticaNeue;
    text-decoration: none;
    padding-right: 8%;

}

.bg {
    /* The image used */
    background-image: url('../pic/ezcab_login_bg.png');
    /* Full height */
    height: 90%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainForm {
    background-image: url('../pic/ezcab_login_bg.png');
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}



.image  {
    display: inline-block;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}

.profileMainTitle:focus {
    color: #1191d0;
    outline: none;
    cursor: pointer;
}



.imgAvatar {
    border-radius: 80%;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;

    display: block;
    margin: 0 auto;
}

.rightcol {
    font-family: HeleveticaNeue;
    font-size: 14px;
    color: #333333;
    float: right;
    padding-right: 20px;
}

.leftcol {
    font-family: HeleveticaNeue;
    font-size: 14px;
    color: #333333;
    float: left;
    padding-left:20px;
    
}

.ezCabContainer {
    position: absolute;
    bottom: 80px;
    left: 70px;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background: white;
}

.ezcabImg {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}


.welcome {
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
    font-family: HeleveticaNeue;
    font-weight: bolder;
    color: #333333;
}

.qrcode {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    font-family: HeleveticaNeue;
    font-weight: bolder;
    color: #1191d0;
}


.main-container{

    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width:85%;
    margin-left: 90px;
    height: 500px;
  
}

hr{

    width: 100%;
}

.profileComboBox  .rcbInner {
    border-style: none !important;
}

.informationQRCode {
    padding-top: 10px;
    text-align: center;
    font-family: HeleveticaNeue;
    font-size: 12px;
    color: #7e7e7e;
}

.mainTitle {
    font-size: 24px;
    font-family: HeleveticaNeue;
    font-weight: normal;
    color: #333333;
    padding-top: 30px;
    padding-left: 30px;
}

div.RadGrid .rgSelectedRow {
 
    background-color: White !important;
}

div.RadGrid .rgAltRow {
 
    background-color: White !important;
}

a.imagelink {
    background: url('../pic/email.png') no-repeat left center;
    padding-left: 25px;
    background-color: white;
    text-decoration: none;
    color: lightgray;
    text-align: center;
    font-family: HeleveticaNeue;
    font-size: 12px;
    line-height:unset;
    color: #858585;
    height:15px;
}

.RadGrid .rgHeader, .RadGrid th.rgResizeCol {
   padding-top:unset !important;
   padding-bottom:unset !important;
}

.profileTxt {
    display: inline;
    font-family: HeleveticaNeue;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}

hr {
   border-top: 1px solid #e3e7e9;
    
}




.target {
    font-family: HeleveticaNeue;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}

.col13 {
    font-family: HeleveticaNeue;
    font-size: 12px;
    color: #333333;
}


.col14 {
    font-family: HeleveticaNeue;
    font-size: 14px;
    color: #1191d0;
    padding-left:30px;
}



@media only screen and (min-device-width: 300px) and (max-device-width: 667px) {

    .table1 {
        margin: auto;
        float: none;
        width: 80%;
        margin-top: 30%;
        border-style: unset !important;
        border-radius: 22px;
        background-color: white;
    }

    .leftcol {
        width: 50%;
        font-size: 12px;
    }


    .rightcol {
        width: 45%;
        font-size: 12px;
    }
}

@media only screen and (min-device-width: 1100px) and (max-device-width: 1800px) {
    .table1 {
        background-color: white;
        border-style: unset !important;
        border-radius: 22px;
        width: 30%;
        height: 40%;
        margin: 0 auto;
        margin-left: 20%;
        margin-top: 5%;
    }
}

@media only screen and (min-device-width: 1900px) and (max-device-width: 3000px) {
    .table1 {
        background-color: white;
        border-style: unset !important;
        border-radius: 22px;
        width: 20%;
        height: 40%;
        margin: 0 auto;
        margin-left: 30%;
        margin-top: 8%;
    }
}




.radGrid_Silk {

    margin-left: 40px !important;
    border: 1px white !important;

}

    .RadGrid_Silk td.rgPagerCell, .RadGrid_Silk .rgPager .rgStatus .rgPageFirst {
        border: none !important;
    }

    .RadGrid_Silk td.rgPagerCell, .RadGrid_Silk .rgPager .rgStatus {
        border: none !important;
    }

    .RadGrid_Silk .rgPageFirst{

        display: none !important;
    }

    .RadGrid_Silk .rgPageLast {
        display: none !important;
    }

.rgHeader{

    background-color: white !important;
}

.MyGridView {
    margin-right: 90px;
    padding-right:30px;
    padding-left: 30px;



}
.helloMain{
    font-family:HeleveticaNeue;
    color: #1191d0;

}




td.rgExpandCol {
    width: 3% !important;
    background-color: white !important;
}

.noBookings {
    font-family: HeleveticaNeue;
    font-size: 16px;
    color: #c7c7c7;
}

.dropDownTable{
    float: right;
}

.rgCollapse {
    display: none !important;
}

.rgExpand {
    display: none !important;
}

.itemTemplate {
    background-color: #fbfcfd;
}

.mainTag {
    font-family: HeleveticaNeue;
    font-size: 12px;
    color: #959595;
}

.detailTag {
    font-family: HeleveticaNeue;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
}

table {
    border-collapse: collapse;
}

.RadGrid_Silk .rgHeader a {
    font-size: 14px;
    font-family: HeleveticaNeueBold;
    color: #333333;
    text-transform: capitalize;
}

.headerStyle {
    font-size: 14px;
    font-family: HeleveticaNeue;
    color: #333333;
}

.RadGrid .rgRow > td, .RadGrid .rgAltRow > td, .RadGrid .rgEditRow > td, .RadGrid .rgFooter > td{

    padding-bottom: 8px !important;
}

.RadGrid .rgDetailTable{

    border: none !important;

}

.rgPageNext {
    background-image: url('../pic/next_button.png') !important;
    background-position: center !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    border: none;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.rgPagePrev {
    background-image: url('../pic/previous_button.png') !important;
    background-position: center !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    border: none;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

/*.RadGrid td.rgPagerCell {
    display: none !important;
}*/

td.itemTemplate {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.RadGrid_Silk .rgMasterTable, .RadGrid_Silk .rgDetailTable, .RadGrid_Silk .rgGroupPanel table, .RadGrid_Silk .rgCommandRow table, .RadGrid_Silk .rgEditForm table, .RadGrid_Silk .rgPager table {
    line-height: 30px !important;
}

.masterTable{
    background-color: white;
}

.coll12 {
    font-size: 18px;
    font-family: HeleveticaNeue;
    font-weight: lighter;
    color: #1191d0;
}

.coll11 {
    font-family: HeleveticaNeue;
    font-size: 12px;
    color: #333333;
    font-weight: bold;
}

.usrName {
    font-family: HeleveticaNeue;
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    text-align:center;
}

.pdfButton {
    padding: 2%;
}

.lnkEmailBtn {
    font-family: HeleveticaNeue;
    color: #333333;
}

.linkSignOut {
    display: block;
    width: 90px;
    background: url('../pic/logout.png') no-repeat left center;
    text-decoration: none;
    font-family: HeleveticaNeue;
    color: #333333;
}

@font-face {
    font-family: HeleveticaNeue;
    src: url('../Font/HelveticaNeue Light.ttf');
}

@font-face {
    font-family: HeleveticaNeueBold;
    src: url('../Font/HelveticaNeue Medium.ttf');
    font-weight: bold;
}