﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Waiting_Page.aspx.vb" Inherits="Admin_Waiting_Page" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

     <link href="js/Class.css" rel="Stylesheet" type="text/css" />

</head>
  

<body>
   <form runat="server">
<div style="padding-top:3%;">
    <div class="helloMain" style="padding-top:70px; font-size: 80px; text-align:center;">

        Hello!

    </div>
       <div class="mainTxt" style="font-size: 30px; font-family: HeleveticaNeue; text-align:center;">
           Good to see you here!
           
       </div>
</div>

       <div style="text-align:center; padding-top:8%;">

      <asp:LinkButton ID="lnkBtnEnter"  runat="server"><img src="pic/ezcab_app_welcome_btn_1.png" alt="delete group" /></asp:LinkButton>

      <asp:LinkButton ID="lnkBtnEnter2" Visible="false"  runat="server"><img src="pic/ezcab_app_welcome_btn_2.png" alt="delete group" /></asp:LinkButton>


       </div>

    <div style="position:absolute;
   bottom:180px;
   width:100%;
   height:60px;">

        <img src="pic/ezcab_app_welcome_bottom.gif" />

    </div>

    </form>
</body>
</html>
